/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
/*background-color: #ff6600;*/
background-image: url('purty_wood.png');
background-repeat: repeat;
color:#fff;
font-family: 'Open Sans', sans-serif;
}
h1{
	font-family: 'Michroma', sans-serif;
	text-shadow: 3px 4px 6px rgba(000, 000, 000, 0.4);
	font-size:4em;
}
a{
	color: #fff;
	text-shadow: 3px 4px 6px rgba(000, 000, 000, 0.4);
}
h2{
font-family: 'Michroma', sans-serif;
text-shadow: 3px 4px 6px rgba(000, 000, 000, 0.4);
font-size: 2.5em;
}
h3{

}
p{
font-family: 'Open Sans', sans-serif;
}
.whitebg{
background-color: #fff;

padding-left: 3%;
padding-right: 3%;
padding-top: 3%;
padding-bottom: 3%;
/*color: #003366;*/
color: #000;
border-radius: 4px;
font-family: 'Open Sans', sans-serif;
 -webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 0.3);
       -moz-box-shadow:0 3px 4px rgba(0, 0, 0, 0.3);
            box-shadow:0 3px 4px rgba(0, 0, 0, 0.3);
}
.whitebg a{
  

	color: #666;
}
.options{
position: absolute;
margin-top: 1%;
right: 5%;
}
#add_email a{
display: block;
margin-top: 5%;
margin-bottom: 3%;
text-align: right;

}

#add_email a{
font-family: 'Michroma', sans-serif;
color: #fff;
font-size: 2.5em;
line-height: 2.5em;
text-decoration: none;
margin-right: 3%;
right: 0px;
}
/*.bigfield{
height: 500px;
width: 400px;
}*/
.ya{
font-family: 'Open Sans', sans-serif;
color: #003366;
border: none;
}
.parawidth{
width: 100%;

}
.spike1{
position: absolute;
width: 15%;
margin-left: 10%;
}
.whitelink a{
font-family: 'Michroma', sans-serif;
color: #fff;

font-size: 2.5em;
line-height: 2.5em;

text-decoration: none;
margin-right: 3%;
right: 0px;
}
.center{
margin-left: auto;
margin-right: auto;
text-align:center;
}
.vertical_middle{
margin-top: 23%;
}
.main{
margin-left: 3%;
margin-right: 3%;
}

@media screen and (max-width: 850px){
  h1{
	font-size:6em;
	line-height: 6em;
}
  h3{
	font-size:3em;
	line-height: 1.5em;
}
p{
font-size:9em;
}

.parawidth{
width: 100%;
font-size:3em;
line-height: 1.5em;
}









}